.carrito-container {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    max-width: 100%;
}
.carrito-title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 20px 10px;
    background-image: url("/images/golden.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carrito-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: start;
}

.carrito-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 200px;
    margin: 0 auto;
}


.carrito-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carrito-item-image {
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.carrito-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.carrito-remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carrito-remove-button:hover {
    background-color: #cc0000;
}

.carrito-info-button {
    padding: 8px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-size: background-color 0.3s ease;
}

.carrito-info-button:hover {
    background-color: #0056b3;
}







