/* contenedor del banner */

.banner-container {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
}

.welcome-text {
    color: gray; /* El texto será blanco para resaltar sobre el degradado */
    text-align: center;
    background-image: url("images/golden.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome-text h1 {
    font-size: 8em;
    margin-bottom: 2%;
    margin-top: 0;
    color: #333131;
}

.welcome-text h2{
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 0;
}

.welcome-text p {
    font-size: 2.5em;
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 0;
}

.home-content {
    padding: 20px;
    text-align: center;
}

.trending-products {
    margin: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trending-products h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333131;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.product-card {
    width: 300px;
    max-width: 300px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    z-index: 1;
}

.product-card:hover {
    transform: scale(1.2s);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.product-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #222;
}

.product-card p {
    font-size: 1rem;
    color: #555;
}

.product-card:hover .product-image {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .product-list {
        flex-direction: column; /* Apila las tarjetas en una columna */
        align-items: center; /* Centra las tarjetas */
    }
}

/* seccion de descuentos */

.discounts {
    margin: 40px 40px;
    text-align: center;
    background-color: rgba(145, 143, 143, 0.664);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.discounts h2 {
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333131;
}

.discount-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.discount-card {
    position: relative;
    width: 250px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.discount-card:hover{
    transform: scale(1.05s);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.discount-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.discount-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.discount-card p {
    font-size: 1rem;
    color:  #555;
}

@media (max-width: 768px) {
    .discount-list {
        flex-direction: column;
        align-items: center;
    }
    .discount-card {
        width: 90%;
    }
}