

.register-page {
    background: url("/images/register0.jpg");
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.register-container {
    max-width: 400px;
    width: 50%;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform:  translateY(0);
    }
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

.register-button:hover {
    background-color: #0056b3;
}